.button {
    display: flex;
    align-items: center;
    background-color: var(--color-active);
    padding: 4px;
    border-radius: 10px;
}

.button_add {
    background: none;
}

.button_clear {
    background: none;
}